// colors
$white: #ffffff;
$black: #000000;
$charcoal-black: #282b2d;
$snow-white: #f5f5f5;

$dirty-white: #dcd9bf;
$dana-pink: #ffd9e0;
$gold-yellow: #ffb615;
$olive-green: #a09d2a;
$lavender: #b6c1f0;
$aero-blue: #7fc2f4;
$turquoise-green: #92d0ab;

//fonts
$my-prettyfont: 'DM Sans', sans-serif;
